.list {
  display: flex;
  list-style: none;
}

.item {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.item:last-child {
  margin-left: 16px;
}

.activeItem {
  color: rgb(0, 126, 126);
}

.item:hover {
  color: rgb(0, 126, 126);
}
